<mat-sidenav-container class="shell">
  <mat-sidenav
    #drawer
    class="shell__sidenav"
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
  >
    <div class="shell__brand">
      <mat-icon>radar</mat-icon>
      <span>SniffingDashboard</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive="shell__nav-item--active"
          (click)="isMobile() && drawer.close()"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="shell__toolbar">
      @if (isMobile()) {
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>Sniffing Worker Dashboard</span>
    </mat-toolbar>

    <main class="shell__content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
